<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="../../app.css" type="text/css" >
  <title>Add Item</title>
</head>
<body>
<form action="/Items" method="post">
  Dish Name: <input type="text" placeholder="Dish Name" name="name"> <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>