<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="../../app.css" type="text/css">
  <title>Item Forms</title>
</head>
<body>
<form action="/Items/<%= id %>" method="post">
  Dish Name: <input type="text" placeholder="Dish Name" name="name"> <br>
  <input type="radio" name="item_option" id="Rename Item" value="rename"> Rename Item <br>
  <input type="radio" name="item_option" id="Delete Item" value="delete"> Delete Item <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>