<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="app.css" type="text/css" >
  <title>Our Menu</title>
</head>
<body>
<h1>Welcome to our Menu</h1>
<a href="/Items">Items</a>
</body>
</html>