<!DOCTYPE HTML>

<html>
<head>
  <link rel="stylesheet" href="../../app.css" type="text/css" >
  <title>Item Details for ID <%= id %></title>
</head>
<body>
<h1>Item <%= id %>: <%= menu[id.to_i] %></h1>
<form action="/Items/<%= id %>/edit" method="get">
  <input type="submit" value="Edit Item">
</form>
<form action="/Items" method="post">
  <input type="hidden" name="_method" value="delete" >
  <input type="submit" value="Delete Item">
</form>
</body>
</html>


