h1 {
    font-family: Georgia, sans-serif;
    color: white
}

a {
    color: #c092ff;

}

body {
    background-color: #2b1d49

}

li {
    color: white;
    font-size: 2em
}

form {
    color: white;
}